@using SynergieCardStore.Infrastructure
@model IEnumerable<SynergieCardStore.Models.Order>
@{
    ViewBag.Title = "Lista zamówień";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<div>
    <hr />
    <h2 class="manageHeader">Twoje zamówienia</h2>

    <div>
        @if (Model.Any())
        {
            <table id="zamowienia-table">

                @foreach (var order in Model)
                {
                    <tr @if (order.OrderStatus == SynergieCardStore.Models.OrderStatus.Nowe) { <text> class="noweZamowienie" </text> }>
                        <td>
                            <strong>Nr zamówienia: </strong>@order.OrderId
                        </td>
                        <td>
                            <strong>Data: </strong>
                            @order.AddedDate.ToString("dd-MM-yyyy")
                        </td>
                        <td>
                            <strong>Stan: </strong><br />

                            @if (ViewBag.UserIsAdmin)
                            {
                                using (Html.BeginForm("OrderStatusChange", "Manage"))
                                {
                                    @Html.HiddenFor(o => order.OrderId)
                                    @Html.EnumDropDownListFor(o => order.OrderStatus, new { @class = "StanZamowieniaZmien" })
                                }
                            }
                            else
                            {
                                @Html.DisplayFor(o => order.OrderStatus)
                            }
                        </td>
                        <td>
                            <strong>Dane wysyłkowe:</strong><br />
                            @order.FirstName @order.LastName<br />
                            @order.Address<br />
                            @order.PostalCode @order.City<br />
                        </td>
                        <td>
                            <strong>Uwagi: </strong><br />
                            @order.Comment
                        </td>
                        <td>
                            <strong>Łączny koszt:</strong> @order.OrderValue zł
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <section>
                                <ul class="TrzyKolumnyList duzaListaKursy-bottom">

                                    @foreach (var orderPosition in order.OrderPositions)
                                    {
                                        <li>
                                            <article>
                                                <a class="kursSzczegolyLink" href="@Url.Action("Details", "Product", new { id = orderPosition.ProductId })">
                                                    <img class="kurs" src="@Url.ProductsMiniaturesPath(orderPosition.Product.ImageFileName)" />
                                                    <h1>
                                                        @orderPosition.Product.ProductAuthor - @orderPosition.Product.ProductTitle<br />
                                                        <strong>sztuk: @orderPosition.Quantity, łącznie: @(orderPosition.Quantity * @orderPosition.PurchasePrice)  zł</strong>
                                                    </h1>
                                                </a>
                                            </article>
                                        </li>
                                    }
                                </ul>
                            </section>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6"></td>
                    </tr>
                    <!-- nastepne zamowienie -->
                }
            </table>
        }
        else
        {
            <div style="text-align: center; margin-top: 50px; margin-bottom: 50px;">
                Brak zamówień.
            </div>
        }
    </div>
</div>

@section Scripts
{
    <script>
    $(".StanZamowieniaZmien").on('change', function (e) {
        //e.preventDefault();

        var f = $(this.form);
        var tr = f.closest("tr");
        var action = f.attr("action");
        var serializedForm = f.serialize();

        $.post(action, serializedForm).done(function (data) {
            if (data == '@SynergieCardStore.Models.OrderStatus.Nowe.ToString()') {
                tr.addClass("noweZamowienie")
            }
            else {
                tr.removeClass("noweZamowienie");
            }
          });
    });
    </script>
}